body, html{
    margin: 0;
    height: 100%;
}
a:link{text-decoration: none;}
a:hover{text-decoration: none;}
a:visited{text-decoration: none;}
a:active{text-decoration: none;}

a.top-bar{
    color: #fff;
    font-weight: 500;
}

a#comp-name{
    font-size: 24px;
    padding: 10px 0px;
    margin-left: 18px;
}

#sign-out:hover{
    color: #DEE2E6;
}

a.top-bar:hover, a#comp-name:hover{
    color: #fff;
    text-decoration: none;
}

a.nav-link{
    color: #000;
    font-weight: 500;
    font-size: 18px;
    margin: 10px;
}

a.nav-link:hover{
    color: #000;
}

.nav-item:hover{
    background-color: #DEE2E6;
}

.active{
    background-color: #DEE2E6;
}

#position-right{
    position: absolute;
    right: 0;
}

#top-section{
    position: relative;
    top: 0;
    margin: 0;
    height: 56px;
    background-color: #444444;
    width: 100%;
}

#middle-section{
    position: relative;
    padding: 0;
    margin: 0;
    background-color: #fff;
    width: 100%;
    height: auto;
}

#bottom-section{
    position: relative;
    bottom: 0;
    margin: 0;
    padding: 10px 10px;
    height: 100px;
    background-color: #fff;
    width: 100%;
    text-align: center;
    justify-content: center;
}

#absolute-bottom{
    position: absolute;
    bottom: 0;
    margin: 0;
    padding: 10px 10px;
    height: 100px;
    background-color: #fff;
    width: 100%;
    text-align: center;
    justify-content: center;
}

#nav{
    display: inline-block;
    width: 15%;
    padding: 0;
}

#content{
    display: inline-block;
    height: 100%;
    width: 85%;
    padding: 10px 30px;
}

.info{
    height: 10px;
}

#CU-section{
    width: 30%;
}

.signIn{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    top: 20%;
}

#signIn-h1{
    text-align: center;
}

#map{
    height: 667px;
    width: 100%;
    margin-bottom: 10px;
}

#error{
    text-align: center;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

#btnSignIn{
    width: 150px;
    margin-left: auto;
    margin-right: auto;
}